<div class="ui vertical menu">
  <div class="item">
    <div class="header">Mes animaux</div>
    <div class="menu">
      <a class="item">Consulter mes animaux</a>
      <a class="item">Enregistrer un animal</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Mon compte</div>
    <div class="menu">
      <a class="item">Consulter mon compte</a>
      <a class="item">Modifier mon mot de passe</a>
      <a class="item">Supprimer mon compte</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Santé</div>
    <div class="menu">
      <a class="item">Courbe de poids</a>
      <a class="item">Frais vétérinaire</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Support</div>
    <div class="menu">
      <a class="item">E-mail Support</a>
      <a class="item">FAQs</a>
    </div>
  </div>
</div>