{% extends "base.html.twig" %}

{% block body %}
<div class="row">

    <div class="card">
        <div class="card-header">Mes animaux</div>
        <div class="card-body">
        <li>Nombre d'animal : {% if user.pets %}{{ user.pets|length }}
            {% else %}
            Aucun animal
            {% endif %}
        </li>
        </div>
        <div class="card-footer text-muted">
         <a href="{{ path('pet_list') }}">Voir</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Mon compte</div>
        <div class="card-body">
        </div>
        <div class="card-footer text-muted">
         <a href="#">Voir</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Suivi frais vétérinaire</div>
        <div class="card-body">
            <li>Total frais engagés :</li>
            <li>Total frais remboursés :</li>
            <li>Reste à recevoir :</li>
        </div>
        <div class="card-footer text-muted">
         <a href="#">Voir</a>
        </div>
    </div>
</div>


{% endblock %}
